
<ion-header>

  <ion-navbar>
    <ion-title>Editar Publicaci&oacute;n</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<!--Formulario de edicion-->
  <div class="create-post" [formGroup]="formPost" (ngSubmit)="saveData()" novalidate *ngIf="post">
    <ion-list>

      <ion-item>
        <ion-label color="primary" class="labelEdicion" stacked> T&iacute;tulo </ion-label>
        <ion-input formControlName="title" type="text" name="title" [(ngModel)]="post.title" ></ion-input>
      </ion-item>
      <ion-item *ngIf="formPost.get('title').errors && formPost.get('title').dirty">
        <p *ngIf="formPost.get('title').hasError('required')" style="white-space: normal; color:red">El titulo es requerido.</p>
        <p *ngIf="formPost.get('title').hasError('maxlength')" style="white-space: normal; color:red">El maximo de caracteres permitidos es 50.</p>
        <p *ngIf="formPost.get('title').hasError('minlength')" style="white-space: normal; color:red">El minimo de caracteres permitidos es 4.</p>
      </ion-item>

      <ion-item>
        <ion-label color="primary" class="labelEdicion" stacked> Descripci&oacute;n </ion-label>
        <ion-input formControlName="description" type="text" name="description" [(ngModel)]="post.description" ></ion-input>
      </ion-item>
      <ion-item *ngIf="formPost.get('description').errors && formPost.get('description').dirty">
        <p *ngIf="formPost.get('description').hasError('required')" style="white-space: normal; color:red">La descripcion es requerida.</p>
        <p *ngIf="formPost.get('description').hasError('maxlength')" style="white-space: normal; color:red">El maximo de caracteres permitidos es 250.</p>
        <p *ngIf="formPost.get('description').hasError('minlength')" style="white-space: normal; color:red">El minimo de caracteres permitidos es 5.</p>
      </ion-item>

      <ion-item>
        <ion-label color="primary" class="labelEdicion" stacked> Imagen </ion-label>
        <ion-input formControlName="image" type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
        <button round="true" item-end ion-button icon-locate-outline (click)="takeImage()" ><ion-icon name="camera"></ion-icon></button>
      </ion-item>
      <ion-item *ngIf="formPost.get('image').errors && formPost.get('image').dirty">
        <p *ngIf="formPost.get('image').hasError('required')" style="white-space: normal; color:red">La imagen es requerida.</p>
      </ion-item>

      <ion-item>
        <ion-label color="primary" class="labelEdicion" stacked>Direcci&oacute;n</ion-label>
        <ion-input formControlName="address" #addressInput autocomplete="on" type="text" [(ngModel)]="post.address"></ion-input>
        <button round="true" item-end ion-button icon-locate-outline (click)="getActualPosition()"><ion-icon name="locate"></ion-icon></button>
      </ion-item>
      <ion-item *ngIf="formPost.get('address').errors && formPost.get('address').dirty">
        <p *ngIf="formPost.get('address').hasError('required')" style="white-space: normal; color:red">La direccion es requerida.</p>
      </ion-item>

      <ion-item>
        <ion-label color="primary" class="labelEdicion" stacked> Categor&iacute;a </ion-label>
          <ion-select formControlName="category" name="category" [(ngModel)]="post.category">
            <ion-option *ngFor="let category of categories" [value]="category">{{category}}</ion-option>
          </ion-select>
      </ion-item>
      <ion-item *ngIf="formPost.get('category').errors && formPost.get('category').dirty">
        <p *ngIf="formPost.get('category').hasError('required')" style="white-space: normal; color:red">La categoria es requerida.</p>
      </ion-item>

    </ion-list>
  </div>

<!--Botones de Cancelar y Guardar-->
  <div>

    <ion-row>
      <ion-col>
        <ion-item>
          <button ion-button block color="danger" type="submit"  (click)="cancelUpdate()">Cancelar</button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <button ion-button block color="secondary" type="submit" [disabled]="!formPost.valid" (click)="updatePost()">Guardar</button>
        </ion-item>
      </ion-col>
    </ion-row>

  </div>
</ion-content>