<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>MascotApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header *ngIf="auth.getEmail()">{{auth.getEmail()}}</ion-list-header>
      <ion-item menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </ion-item>
    </ion-list>
    <ion-item (click)="newPost()">
			<ion-icon name="paw" item-left></ion-icon>
			Nueva publicación
		</ion-item>
		<ion-item (click)="login()" *ngIf="!auth.authenticated">
			<ion-icon name="log-in" item-left></ion-icon>
			Iniciar sesíon
		</ion-item>
		<ion-item (click)="logout()" *ngIf="auth.authenticated">
			<ion-icon name="log-out" item-left></ion-icon>
			Cerrar sesión
		</ion-item>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
